{% extends "User/base.user.html.twig" %}


{% block content %}
	<h1>{{formResponse}}</h1>
	<div class="post">
		<h1>{{post.title}}</h1>
		<h2>{{post.description}}</h2>
		<p>{{post.content}}</p>
	</div>
	{{ form(form) }}
		<div class="comment">
			{% for comment in listComment %}
				<div>
					<h3>{{comment.username}}</h3>
					<p>{{comment.content}}</p>
					<p>{{comment.createdAt|date("m/d/Y")}}</p>
				</div>
			{% endfor %}#}
		</div>
	{% endblock %}
